.footer {
    width: 100%;
    padding: 40px 0 72px;
    background-color: rgba(211,212,221,.24);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 32px;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-decoration: none;
    color: var(--text-color);
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.social box-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}